<div class="body">
    <div class="card">
        <h2>Anotação</h2>
        <div class="input-row">
            <form [formGroup]="textForm">
                <input type="text" formControlName="value" maxlength="100" (keyup.enter)="addItem()"
                    (input)="updateCountTex()">
            </form>

            <button class="btn-add" (click)="addItem()">Adicionar</button>
        </div>

        @if (textForm.get('value')?.invalid && textForm.get('value')?.touched) {
        <div class="required-value">Texto é obrigatório.</div>
        }

        <small class="char-counter">{{ charCountText() }}/100</small>


        @for (item of items; track $index) {
        <div class="item-list">
            <div class="container-item">
                <h4>{{ item }}</h4>
                <button class="btn-remove" (click)="removeItem($index)">✕</button>
            </div>
        </div>

        } @empty {
        <div class="empty-msg">Nenhum texto adicionado.</div>
        }


        <div class="actions">
            <button class="btn-save" [disabled]="items.length === 0" (click)="saveAll()">
                Salvar
            </button>
        </div>
    </div>
</div>