.card-list {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

h3 {
    font-weight: 500;
    font-size: 0.9rem;
    color: gray;

}

h2 {
    font-weight: 600;
    font-size: 1rem;
    color: rgb(54, 54, 54);

}

.data {
    padding-left: 2px;
    border-radius: 5px;
    margin-top: 2px;
}


.category-badge {
    border-radius: 9px;
    border: 1px solid rgb(196, 194, 194);
    margin-top: 10px;
    padding-left: 10px;

}

.category-name {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(31, 30, 30);
    padding-bottom: 2px;
}

textarea {
    width: 99%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: inherit;
    box-sizing: border-box;
    background-color: #f6f7f9;
    overflow: scroll;
}