.header {
    background-color: #f9fafb;
    text-align: left;
    padding-left: 20px;
}

h1 {
    color: #3788f4;
    font-size: 1.5rem;
    padding-top: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    color: #3788f4;
    padding-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
}